# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# FrontPage artifacts
_vti_cnf/
_vti_pvt/

# Screenshots
screenshots-before/
screenshots-after/

# 11ty output
_site/

# Node
node_modules/

# Editor
.vscode/
*.swp
*~
